@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'BebasRegular';
    src: url('fonts/BEBAS___-webfont.eot');
    src: url('fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BEBAS___-webfont.woff') format('woff'),
         url('fontsBEBAS___-webfont.ttf') format('truetype'),
         url('fonts/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body{
 font-family: 'BebasRegular';
	width:100%;
	height:100%;
}

.navigation{
	position:fixed;
	z-index:1;
	top:20px;
}
.navigation li{
	color:#333333;
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	font-weight:bold;
	-webkit-transition: all .2s ease-in-out;
	border-bottom:1px solid black;
	text-align:left;
	width:53px;
}
.navigation li:hover,.active{
	font-size:25px;
	cursor:pointer;
	width:100px!important;
}
.logo{
position:absolute;
top:20%;
left:40%;
width: 896px; 
height: 489px;
margin-top:-41px;
margin-left:-223px;
z-index:1;
}
.ru{
position:fixed;
width: 223px;
height: 76px;
right:40px;
top:40px;
z-index: 1;
}
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
.wrapper{
	width:960px;
	height:200px;
	margin:0 auto;
	position:relative;
}
.slideno{
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:100px;
	font-weight:bold;
	color:rgba(255,255,255,0.3);
}
.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:0px;
	left:50%;
	background-color:#333333;
	background-image:url(../img/arrow.png);
}
.button:hover{
	background-color:#494949;
	cursor:pointer;
}
.jumbotron1 {
  padding: 30px;
  margin-bottom: 30px;
  margin-top: 20%;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.3);
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-image:url(../img/background.png);
}

/******************************
 SLIDE 2 
*******************************/
#slide2{
	background-color:#005c99;
}	

/******************************
 SLIDE 3 
*******************************/
#slide3{
	background-color:#b6c10b;
}
/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-color:#5c9900;
	
}
#slide4 .parallaxbg{
	position:absolute;
	right:40px;
	top:40px;
	font-size:28px;
	color:rgba(51,51,51,0.3);
}

